* {
    font-family: 'Lato', 'Monaco', 'Arial';
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 260%;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/*
    -------- HEADER ---------
 */

.header-momo{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(image/background-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header-momo div.row{
    padding: 60px 0;
}

.momo-title{
    float: left;
}

.momo-title p{
    color: #e4e4e4;
    display: inline-block;
    font-size: 300%;
    margin-top: -35px;
}

.momo-star {
    font-size: 120%;
    color: #e7f4b6;
}

.header-link{
    list-style: none;
    vertical-align: middle;
}

.header-link li a{
    transition: border-bottom 0.2s, color 0.2s;
}

.header-link li a:link,
.header-link li a:visited
{
    text-decoration: none;
    float: right;
    margin-left: 20px;
    font-size: 120%;
    color: #e4e4e4;
}

.header-link li a:hover,
.header-link li a:active{
    color: #777;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

/*
   ---------- SEARCH --------
 */


.section-search{
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 300px;
}

select{
    text-indent:5px;
    color: black;
    letter-spacing: 1px;
    font-weight: 400;
    float: right;
    height: 50px;
}

.website-input{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    float: left;
}

div.button{
    text-align: center;
}

div.button a{
    display: inline-block;
    margin-top: 10px;
    border-radius: 30px;
}

.action{
    transition: color 0.2s, background-color 0.2s;
}

.action:link,
.action:visited
{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: darkorange;
    font-weight: 400i;
    margin-top: 10px;
    border-radius: 30px;
}

.action:hover,
.action:active{
    background-color: orange;
    color: white;
}


/*
   ---------- TESTIMONY --------
 */


.section-testimony{
    margin: 60px auto;
}

.momo-identify{
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 80px;
}


blockquote:before{
    content: '\201C';
    font-size: 300%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/*****************************
        FOOTER
*****************************/

.momo-footer{
    padding: 20px 0;
    margin-top: 150px;
    background-color: #2a2a2a;
    text-align: center;
    color: white;
}

.momo-brand{
    padding: 5px 0;
    font-weight: 400;
    margin-bottom: 5px;
}

.ion-heart{
    color: red;
    font-size: 110%;
}

.momo-oasis{
    padding: 5px 0;
    margin-top: 5px;
}

.momo-oasis a:link,
.momo-oasis a:visited{
    color: white;
    text-decoration: none;
}

.ion-social-github{
    font-size: 200%;
}

.momo-github a:link,
.momo-github a:visited{
    color: white;
}


/*********************
    MOMO STATUS
 *******************/

.momo-status{

}

.first-stats{

}

.last-stats{

}

.first-stats p{
    margin-left: 40px;
    font-weight: 700;
}

.last-stats p{
    font-weight: 700;
}

.momo-icon{
    color: gainsboro;
}

.momo-icon i{
    display: inline-block;
    font-size: 150%;
    margin-right: 30px;
    margin-top: 5px;
    color: #8096cf;
}

.momo-model {
    display: inline-block;
    margin-left: 10px;
    color: lightcyan;
    font-size: 110%;
}