<html ng-app="momo" ng-controller="MomoController as vm">
<head>
    <meta charset="UTF-8">
    <title>Momo</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header class="header-momo">
        <div class="row">
            <div class="col span-1-of-2">
                <div class="momo-title">
                    <p><span class="momo-star">*</span>Momo</p>
                </div>
            </div>
            <div class="col span-1-of-2">
                <ul class="header-link">
                    <li>
                        <a id="testimony-link" href="" ng-click="vm.testimony()">Reviews</a>
                    </li>
                    <li>
                        <a id="about-link" href="" ng-click="vm.about()">What is Momo ?</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <select name="http-method" id="http-select">
                    <option value="http">
                        HTTP
                    </option>
                    <option value="https">
                        HTTPS
                    </option>
                </select>
            </div>
            <form ng-submit="vm.testing()">
                <!-- convert to form cause that handling for enter on input -->
                <div class="col span-2-of-3">
                    <input class="website-input" type="text" placeholder="For example: jsonplaceholder.typicode.com" ng-model="vm.fill" required>
                </div>
            </form>
            <div class="button">
                <a href="#" ng-click="vm.testing()" class="action">GET</a>
            </div>
        </div>

        <div class="momo-status">
            <div class="row" style="color: white">
                <div class="col span-1-of-2 first-stats">
                    <p><span class="momo-icon"><i class="ion-stats-bars"></i></span>Method <span class="momo-model" ng-bind="vm.data.config.method"></span></p>
                    <p><span class="momo-icon"><i class="ion-fireball"></i></span>Headers Accept <span class="momo-model" ng-bind="vm.data.config.headers.Accept"></span></p>
                    <p><span class="momo-icon"><i class="ion-home"></i></span>URL <span class="momo-model" ng-bind="vm.data.config.url"></span></p>
                </div>
                <div class="col span-1-of-2 last-stats">
                    <p><span class="momo-icon"><i class="ion-android-done"></i></span>Status <span class="momo-model" ng-bind="vm.data.status"></span></p>
                    <p><span class="momo-icon"><i class="ion-bonfire"></i></span>StatusText <span class="momo-model" ng-bind="vm.data.statusText == '' ? 'NULL' : vm.data.statusText"></span></p>
                    <p><span class="momo-icon"><i class="ion-load-d"></i></span>xhrStatus <span class="momo-model" ng-bind="vm.data.xhrStatus"></span></p>
                </div>

            </div>
        </div>
    </header>

    <section class="section-testimony">
        <div class="row">
            <h2 id="about-momo">What is Momo?</h2>
            <p class="momo-identify">Momo, is a website that provides the availability status of any website.</p>
        </div>
        <div class="row" id="testimony-momo">
            <div class="col span-1-of-3">
                <blockquote>
                    The momo is awesome. I can not use the Chrome developer console and Momo is working as good as hell when looking up page's status. Give it try, its free man.
                </blockquote>
                <cite><img src="css/image/person1.jpg" alt="Computer Guy">Richie Compact</cite>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    Momo's creator is awesome man. We've talked before and he said I can easily look out the North Korean websites. Ha ha! Elia you are fucking genius man! I will give you a the USA citizenship
                </blockquote>
                <cite><img src="css/image/person2.jpg" alt="Donald Trump">Donald Trump</cite>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    The momo is provide to look out which game sites has been banned from my Mum and Dad!. That's awesome, as a 11 years old girl, I support you Momo and also creator! Thank you for all
                </blockquote>
                <cite><img src="css/image/person3.jpg" alt="Lovely Little Girl">Little Girl</cite>
            </div>
        </div>
    </section>

    <footer class="momo-footer">
        <p class="momo-brand">Built with <i class="ion-heart"></i> in Istanbul.</p>
        <p class="momo-github"><a target="_blank" href="https://github.com/eliakorkmaz/momo"><i class="ion-social-github"></i></a></p>
        <p class="momo-oasis"><a href="https://www.youtube.com/watch?v=cmpRLQZkTb8">&copy; Oasis</a></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="css/vendors/script/jquery.ajax-cross-origin.min.js"></script>
    <script type="text/javascript" src="script/main.js"></script>
    <script type="text/javascript" src="script/helper.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113022999-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-113022999-1');
    </script>

</body>
</html>